
:root {
    --background-color: rgb(255, 255, 255); /* Couleur de fond claire */
    --text-color: rgb(70, 218, 203); /* Couleur du texte en clair */
    --text-cite: rgb(232, 137, 137); /* Couleur des citations */
    --a-color: rgb(0, 0, 255); /* Couleur des liens */
}


 